﻿@model ProjektGrupowy.ViewModels.CreateAccountViewModel
@{
    ViewBag.Title = "CreateAccountFirstStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryvalidate")
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
<style>
    #token {
        display: block;
    }
</style>
<h2>Tworzenie konta użytkownika</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = " control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Index, new { @class = " control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Index, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Index, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = " control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname, new { @class = " control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(m => m.HaveToken, new { @class = "have-token" })
                    </div>
                    <div class="col-md-11 text-left">
                        @Html.LabelFor(m => m.HaveToken, new { @class = " control-label col-md-12" })

                    </div>
                </div>
                <div class="form-group" id="token" style="display: none;">
                    @Html.LabelFor(m => m.Token, new { @class = " control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Token, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Token, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(m => m.GIODO, new { @class = "" })
                    </div>
                    <div class="col-md-11">
                        @Html.LabelFor(m => m.GIODO, "Wyrażam zgodę na przetwarzanie moich " +
                                                      "danych osobowych zawartych w mojej rejestracji dla potrzeb niezbędnych do KASKLAB " +
                                                         "(ustawa z 29 sierpnia 1997 r.o ochronie danych osobowych, tekst jednolity: Dz.U.z" +
                                                         " 2002 r.nr 101, poz. 926, ze zm.).",
                                                        new { @class = "col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1">
                        @Html.CheckBoxFor(m => m.Newsletter, new { @class = "" })
                    </div>
                    <div class="col-md-11">
                        @Html.LabelFor(m => m.Newsletter, "Wyrażam zgodę na otrzymywanie dorgą mailową newslettera", new { @class = "col-md-12" })
                    </div>
                </div>
                   <div class="form-group">
                       <div class="col-md-offset-2 col-md-12">
                           <div class="g-recaptcha" data-sitekey="@Settings.data_sitekey"></div>
                       </div>
                   </div>
                    
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Wyślij" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>

        <script>

            $('#HaveToken').click(function () {
                if ($(this).is(":checked"))
                    $('#token').slideDown();
                else
                    $('#token').slideUp();
            });
        </script>
    </div>
</div>
