﻿@model ProjektGrupowy.ViewModels.LocalLoginViewModel
@{
    ViewBag.Title = "Panel administratora";
    Layout = "~/Views/Shared/_NoNavbar.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("LocalLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Login" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Zaloguj" class="btn btn-default btn-login" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-8">

    </div>
</div>
