﻿@model ProjektGrupowy.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Zaloguj się";
    Layout = "~/Views/Shared/_NoNavbar.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { temp = ViewBag.temp ?? "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" , @placeholder = "Login" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Zaloguj się" class="btn btn-default btn-login" />
                    </div>
                </div>

                <div class="login-register">
                    @Html.ActionLink("Rejestracja", "CreateAccount")
                </div>
            }
        </section>
        <div class="login-forgot">
            <p>@Html.ActionLink("Nie pamiętam hasła", "PasswordRecoveryFirstStep")</p>
        </div>
    </div>
    <div class="col-md-8">
        <section id="loginText">
            <div class="col-md-12 text-center">
                <h2 class="text-center">Przydatne linki</h2>
                <p>Kliknij w poniższe odnośniki, by szybko przenieść się na daną podstronę.</p>
                <div class="social-links">
                    <div class="col-md-4 text-center">
                        <img src="~/images/icons/home_icon.png" class="social-icons" />
                        <a href="https://pg.edu.pl/" class="social-link">Strona główna PG</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="~/images/icons/cat_icon.png" class="social-icons"/>
                        <a href="#" class="social-link">Strona wydziału</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="~/images/icons/panel_icon.png" class="social-icons" />
                        <a href="https://moja.pg.edu.pl/" class="social-link">MojaPG</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
