﻿@model ProjektGrupowy.ViewModels.PasswordRecoveryFirstStepViewModel

@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryvalidate")
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
<h2>Przypominanie hasła</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("PasswordRecoveryFirstStep", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="g-recaptcha" data-sitekey="@Settings.data_sitekey"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Przypomnij" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
