﻿
@{
    ViewBag.title = "ERROR 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-12">
        <div class="error-404">
            <h1>500</h1>
            <p>Błąd wykonywania skryptu.</p>
        </div>
    </div>
</div>



