﻿
@{
    ViewBag.title = "ERROR 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row"> 
        <div class="col-md-12">
            <div class="error-404">
                <h1>404</h1>
                <p>Strona, którą chcesz odwiedzić nie istnieje.</p>
            </div>
        </div>
</div>



