﻿
@{
    ViewBag.Title = "_ErrorMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
<meta http-equiv="refresh" content="5;@Url.Content("~/")" />
}

<h2>Wystąpił błąd :()</h2>

@ViewBag.ErrorMessage