﻿<!DOCTYPE html>
<html>
<head>
    @RenderSection("Head", required: false)
    <style>
        #HaveToken:checked + #token {
            display: block !important;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/style.less")
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
</head>
<body>

    <div style="display:table; width: 100%; min-height: 100vh">
        <div class="navbar-container col-md-2 col-sm-2">
            <nav class="navbar-side">
                <div class="col-md-12 ">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="account-info">
                                <div class="account-nick">
                                    <p>@User.Identity.Name</p>
                                    <div class="avatar">
                                        <img src="~/images/avatar.png" class="" />
                                    </div>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                        <div class="account-info">
                            <div class="account-nick">
                                @Html.ActionLink("Zaloguj", "Login", "Account", null, new { id = "loginLink" })
                            </div>
                        </div>


                        <div class="account-nick">

                        </div>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <div class="links-menu">
                            <div class="main-links">
                                <p>Użytkownik</p>
                                <ul>
                                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">@Html.ActionLink("Zmien hasło", "ChangePassword", "UserPanel", null, new { @class = "password" })</li>
                                    @if (!(User.IsInRole(Settings.SuperAdminGroupNameLocal)))
                                    {

                                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangeData" ? "active" : "")"> @Html.ActionLink("Zmien dane", "ChangeData", "UserPanel", null, new { @class = "edit" })</li>
                                    }
                                </ul>
                            </div>
                            @if (User.IsInRole(Settings.SuperAdminGroupNameLocal))
                            {
                                <div class="admin-links">
                                    <p>Administrator</p>
                                    <ul>

                                        @if (User.IsInRole(Settings.SuperAdminGroupNameLocal) || User.IsInRole(Settings.ChangeSettingsGroup))
                                        {
                                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ChangeSettings" ? "active" : "")">@Html.ActionLink("Ustawienia", "ChangeSettings", "Home", null, new { @class = "settings" })</li>
                                        }

                                        @if (User.IsInRole(Settings.SuperAdminGroupNameLocal) || User.IsInRole(Settings.SendTokensGroup))
                                        {
                                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "TokenGenerate" ? "active" : "")">@Html.ActionLink("Generowanie Tokenów", "TokenGenerate", "Home", null, new { @class = "token" })</li>
                                        }

                                        @if (User.IsInRole(Settings.SuperAdminGroupNameLocal) || User.IsInRole(Settings.EditUsersGroup))
                                        {
                                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserEditGrid" ? "active" : "")">@Html.ActionLink("Zarządzanie użytkownikami", "UserEditGrid", "Home", null, new { @class = "users" })</li>
                                        }
                                        @if (User.IsInRole(Settings.SuperAdminGroupNameLocal) || User.IsInRole(Settings.EditUsersGroup))
                                        {
                                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ActivateUserFromDataBase" ? "active" : "")">@Html.ActionLink("Aktywacja użytkowników", "ActivateUserFromDataBase", "Home", null, new { @class = "activate" })</li>
                                        }

                                        @if (User.IsInRole(Settings.SuperAdminGroupNameLocal))
                                        {
                                            <li><a href="@Settings.HangfirePath" class="task">Zadania</a></li>

                                        }
                                    </ul>

                                </div>
                            }
                            <div class="back-home">
                                <ul>
                                    <li>
                                        <a href="/">Wróć na stronę główną</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </nav>
        </div>
        <div class="col-md-10 col-sm-10 content-container">
            <div class="body-content" style="margin-top :5%">
                @RenderBody()
                <hr />
                <footer>
                    <div class="container login-footer">

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 text-right login-copy">
                                <p>
                                    Copyright 2018 &copy; Rafał Nowak, Patryk Panek, Artur Kisner
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>



    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>