﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/style.less")
</head>
<body class="login-main">
    <header class="login-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="header-title">@ViewBag.Title</h3>
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>
    </header>
    <div class="container login-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container login-footer">
            <hr />
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right login-copy">
                    <p>
                        Copyright 2018 &copy; Rafał Nowak, Patryk Panek, Artur Kisner
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>