﻿
@{
    ViewBag.Title = "_SuccessMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <meta http-equiv="refresh" content="10;@Url.Content("~/")" />
}

<h2>Zakończono powodzeniem</h2>

@ViewBag.SuccessMessage