﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext');

@baseDarkBlue: #303d50;
@baseWhite: #eef5fd;
@baseDark: #1a222f;
@baseSel: #1cd7cc;
@baseGray: #e3e3e3;


.bgCover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


html {
    height: 100%;

    @media(min-width: 992px) {
        font-size: 14px;
    }

    @media(min-width: 768px) and (max-width: 991px) {
        font-size: 12px;
    }

    @media(max-width: 767px)  {
        font-size: 10px;
    }
}

body {
    min-height: 100%;
}


html, body {
    margin: 0;
    padding: 0;
}


body,button, span, p, div {
    font-family: "Open Sans", sans-serif;
}


h1, h2, h3, h4, h5, label {
    font-family: 'Roboto Condensed', sans-serif;
}


.form-group {
    label, .control-label {
        text-align: left !important;
        margin-bottom: 15px !important;

        @media(max-width: 767px) {
            margin-left: 25px;
        }
    }

    .form-control {
        border-radius: 15px;
        min-height: 45px;
        background-color: #e3e3e3;
    }


    .col-md-12 {
        text-align: center;

        input[type='submit'] {
            border-radius: 15px;
            color: white;
            background-color: @baseDarkBlue;
            padding: 15px;
            transition: 0.3s all ease-in;

            &:hover {
                transition: 0.3s all ease-in;
                border-color: black;
                background-color: black;
                color: white;
            }
        }
    }

    input[type='submit'] {
        border-radius: 15px;
        color: white;
        background-color: @baseDarkBlue;
        padding: 15px;
        transition: 0.3s all ease-in;

        &:hover {
            transition: 0.3s all ease-in;
            border-color: black;
            background-color: black;
            color: white;
        }
    }

    display: table;
    width: 100% !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    margin-bottom: 15px;
}


.login-footer {

    .login-copy {
        p {
            font-weight: lighter;
            color: #d3d3d3;
            font-size: 0.8rem;
        }
    }

    hr {
        border-top: 2px solid @baseDarkBlue;
        opacity: 0.3;
    }
}

// END MAIN SETTINGS

.btn-login {
    width: 100%;
    border-radius: 15px;
    color: white;
    background-color: @baseDarkBlue;
    padding: 15px;
    transition: 0.3s all ease-in;

    &:hover {
        transition: 0.3s all ease-in;
        border-color: black;
        background-color: black;
        color: white;
    }
}

.login-main {
    min-height: 100vh;

    @media(min-width: 992px) {
        overflow: hidden;
    }

    background: url('../images/login_bg.jpg') no-repeat center center;
    .bgCover();


    .login-header {
        .header-title {
            color: @baseSel;
        }
    }

    .login-content {
        padding-top: 15vh;

        .login-forgot {
            text-align: center;
            padding-top: 20px;

            a {
                color: white;
            }
        }

        #loginForm {
            background-color: white;
            padding: 50px 25px;
            border-radius: 15px;
            -webkit-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.2);
            -moz-box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.2);
            box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.2);

            .form-group {
                .form-control {
                    border-radius: 15px;
                    min-height: 45px;
                    background-color: #e3e3e3;
                }
            }

            .login-register {
                text-align: center;

                a {
                    color: @baseGray;
                }
            }
        }

        #loginText {
            color: @baseWhite;

            .social-links {
                padding-top: 50px;

                a, img {
                    display: block;
                    margin: 0 auto;
                }

                a {
                    margin-top: 15px;
                    color: white;
                    font-family: 'Roboto Condensed', sans-serif;
                    transition: 0.3s all ease-in;
                    font-size: 1.2rem;

                    &:hover {
                        transition: 0.3s all ease-in;
                        color: @baseSel;
                        text-decoration: none;
                    }
                }
            }
        }
    }


}
.dataTables_filter {
    text-align: left !important;

}

.dt-buttons, .dataTables_filter, #example {
    max-width: 100%;
    margin-bottom: 7.5px;
    .btn {
        margin-bottom: 7.5px !important;
    }
}

.content-container {
    @media(min-width: 768px) {
        float: none;
        display: table-cell;
        vertical-align: top;
        padding-left: 40px;
    }

    position: relative;
    overflow-x: hidden;
    height: 100%;

    #example_wrapper {
        .dt-buttons {
            .btn {
                margin: 0 5px;
                border-radius: 15px;
                transition: 0.2s all ease-in;
                text-transform: uppercase;

                span {
                    font-family: "Roboto Condensed", sans-serif !important;
                }

                &:hover {
                    background-color: #2f3849;
                    color: white;
                    transition: 0.2s all ease-in;
                }
            }
        }
    }
}

.navbar-container {
    background-color: #354052;
    height: 100%;


    @media(min-width: 768px) {
        float: none;
        display: table-cell;
        max-width: 250px;
    }



    .navbar-side {
        display: block;
        height: 100%;

        .back-home {
            ul {
                margin-top: 25px !important;
            }
        }
        .links-menu {
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 35px;

            ul {
                margin: 0;
                list-style: none;
                padding: 0;

                .active {
                    a {
                        color: white;
                    }
                }
            }

            a {
                color: #909bad;
                padding: 5px 0;
                font-family: "Roboto Condensed", sans-serif;
                display: block;
                font-size: 0.9rem;
                text-transform: uppercase;
            }

            .main-links, .admin-links {
                border-bottom: 1px solid #2f3849;
                outline: 5px solid transparent;
                padding: 25px 0;

                p {
                    color: white;
                    margin-left: -7.5px;
                    position: relative;
                    left: -20px;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }

                .password, .settings, .token, .users, .task, .edit, .activate {
                    position: relative;

                    &:before {
                        content: "";
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        top: 7px;
                        left: -20px;
                        background-position: 100% 100%;
                    }
                }

                .password {
                    &:before {
                        background: url('../images/icons/password_icon.png') no-repeat center center;
                    }
                }

                .settings {
                    &:before {
                        background: url('../images/icons/settings_icon.png') no-repeat center center;
                    }
                }

                .token {
                    &:before {
                        background: url('../images/icons/token_icon.png') no-repeat center center;
                    }
                }

                .users {
                    &:before {
                        background: url('../images/icons/users_icon.png') no-repeat center center;
                    }
                }

                .task {
                    &:before {
                        background: url('../images/icons/task_icon.png') no-repeat center center;
                    }
                }

                .edit {
                    &:before {
                        background: url('../images/icons/task_icon.png') no-repeat center center;
                    }
                }

                .activate {
                    &:before {
                        background: url('../images/icons/activate_icon.png') no-repeat center center;
                    }
                }
            }
        }

        .account-info {
            border-bottom: 1px solid #2f3849;
            outline: 5px solid transparent;
            padding: 25px;
            text-align: center;

            .account-nick {
                display: block;
                margin: auto;

                .avatar {
                    img {
                        width: 60%;
                        border-radius: 50px;
                        margin-bottom: 25px;
                    }
                }

                p {
                    font-size: 1.5rem;
                }

                p, a {
                    color: #909bad;
                    font-family: "Roboto Condensed", sans-serif;
                }

                a {
                    font-size: 1.0rem;
                    color: white;
                    transition: 0.2s all ease-in;

                    &:hover {
                        color: #d3d3d3;
                        text-decoration: none;
                        transition: 0.2s all ease-in;
                    }
                }
            }
        }
    }
}

.error-404 {
    top: 50%;

    text-align: center;

 h1 {
        font-size: 20rem;
    }
  p {
      font-weight: bold;
      text-transform: uppercase;
      color: #d3d3d3;
      font-size: 2rem;
      font-family: "Roboto Consensed", sans-serif;
  }
}


.form-sendmsg {
    form {
        textarea {
            max-width: 100%;
            width: 100%;
            min-height: 300px;
            border-radius: 15px;
            background-color: @baseGray;
            overflow: hidden;
        }
    }
}
