﻿@model ProjektGrupowy.ViewModels.TokenGroupGenerateViewModel

    <div class="token-count">
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Days, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Days, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Days, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input id="btn" type="submit" value="Generuj" class="btn btn-default" />
            </div>
        </div>
    </div>