﻿
@{
    ViewBag.Title = "Aktywacja użytkowników";
}



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
            @@import url("@Url.Content("~/Content/DataTables/datatables.min.css")");


        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <h2>Aktywacja użytkowników</h2>
        <br />
        <div style="width:90%; margin:0 auto;">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Numer albumu</th>
                        <th>Email</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Opis</th>
                        <th>Data założenia</th>
                    </tr>
                </tfoot>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Numer albumu</th>
                        <th>Email</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Opis</th>
                        <th>Data założenia</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<script>


    $(document).ready(function () {
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Szukaj ' + title + '" />');
        });

        var table = $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": 'Bfrtip',

            select: {
                style: 'multi',
            },

            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Wszystko"]],

            "language": {
                "processing": "Przetwarzanie...",
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ pozycji",
                "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                "infoEmpty": "Pozycji 0 z 0 dostępnych",
                "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                "infoPostFix": "",
                "loadingRecords": "Wczytywanie...",
                "zeroRecords": "Nie znaleziono pasujących pozycji",
                "emptyTable": "Brak danych",
                "paginate": {
                    "first": "Pierwsza",
                    "previous": "Poprzednia",
                    "next": "Następna",
                    "last": "Ostatnia"
                },
                "aria": {
                    "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                },
                "buttons": {
                    "pageLength": {
                        _: "Pokaż %d wierszy",
                        '-1': "Pokaż wszystko"
                    },
                    "selectAll": "Zaznacz wszystko",
                    "selectNone": "Odznacz wszystko"
                },
                "select": {
                    rows: "%d zaznaczonych wierszy"
                }
            },
            "ajax": {
                "url": "/Home/LoadUsersFromDataBaseToActivate",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "Index", "name": "Numer albumu", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                { "data": "Name", "name": "Imię", "autoWidth": true },
                { "data": "Surname", "name": "Nazwisko", "autoWidth": true },
                { "data": "Description", "name": "Opis", "autoWidth": true },
                { "data": "Date", "name": "Data założenia", "autoWidth": true },
            ],
            buttons: [
                'pageLength',
                'selectAll',
                'selectNone',
                {
                    text: 'Usuń',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins['IDs'] = [];

                        data.each(function (value, Id) {
                            tableOfLogins['IDs'].push(value.Id);
                        });

                        $.ajax("/Home/DeleteUsersToActivateFromDataBase", {
                            data: JSON.stringify(tableOfLogins),
                            contentType: 'application/json',
                            type: 'POST',
                            success: function (data) {
                                $('#example').DataTable().ajax.reload();
                            }
                        });
                    }
                },
                {
                    text: 'Aktywuj',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins['IDs'] = [];

                        data.each(function (value, Id) {
                            tableOfLogins['IDs'].push(value.Id);
                        });

                        $.ajax("/Home/ActivateSelectedUserFromDataBase", {
                            data: JSON.stringify(tableOfLogins),
                            contentType: 'application/json',
                            type: 'POST',
                            success: function (data) {
                                $('#example').DataTable().ajax.reload();
                            }
                        });
                    }
                }
            ],
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script> 