﻿@model ProjektGrupowy.ViewModels.SettingsViewModel

@{
    ViewBag.Title = "Ustawienia strony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryvalidate")
}
<h2>Ustawienia strony</h2>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm form-main">
            @using (Html.BeginForm("ChangeSettings", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <h3>Uprawnienia</h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(m => m.ActivateUsersFromDataBaseGroup, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.ActivateUsersFromDataBaseGroup, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ActivateUsersFromDataBaseGroup, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ChangeSettingsGroup, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.ChangeSettingsGroup, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ChangeSettingsGroup, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SendTokensGroup, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.SendTokensGroup, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SendTokensGroup, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EditUsersGroup, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.EditUsersGroup, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EditUsersGroup, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h3>Serwer</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.ADDomian, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.ADDomian, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ADDomian, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HangfirePath, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.HangfirePath, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HangfirePath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.InfoMail, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.InfoMail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.InfoMail, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h3>Parametry użytkownika</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.HomeDirectory, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.HomeDirectory, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HomeDirectory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.HomeDrive, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.HomeDrive, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HomeDrive, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MsSFU30NisDomain, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.MsSFU30NisDomain, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MsSFU30NisDomain, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LoginShell, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.LoginShell, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LoginShell, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UidNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.UidNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UidNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GidNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.GidNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GidNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Unixhomedirectory, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Unixhomedirectory, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Unixhomedirectory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DefaultUserGroupName, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.DefaultUserGroupName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DefaultUserGroupName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Descripton, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Descripton, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Descripton, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProfilePath, new { @class = "col-md-2 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.ProfilePath, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProfilePath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
}
        </section>
    </div>
</div>
