﻿@model ProjektGrupowy.ViewModels.ModifyUsersViewModel;
@{
    ViewBag.Title = "ModifyUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModifyUser</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("ModifyUserSecondStep", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.HomeDirectory, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.HomeDirectory, new { @class = "form-control" })

                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz dane" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>

</div>