﻿@model ProjektGrupowy.ViewModels.EmailsTokenViewModel
@{
    ViewBag.title = "Generowanie tokenów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    @@import url("@Url.Content("~/Content/DataTables/datatables.min.css")");
</style>

<div class="">
    <h2>Generowanie tokenów</h2>
    <br />
    <div class="col-md-12">
        @if (TempData["Message"] != null)
        {
            if (TempData["Type"] != null && TempData["Type"].ToString() == "danger")
            {
                <div class="alert alert-danger">
                    <strong>Błąd!</strong> @TempData["Message"]
                </div>
            }
            else if (TempData["Type"] != null && TempData["Type"].ToString() == "success")
            {
                <div class="alert alert-success">
                    <strong>Sukces!</strong> @TempData["Message"]
                </div>
            }
            else if (TempData["Type"] != null && TempData["Type"].ToString() == "warning")
            {
                <div class="alert alert-warning">
                    <strong>Ostrzeżenie!</strong> @TempData["Message"]
                </div>
            }
        }

        <div><h2>Wysyłanie bezpośrednio na maila</h2></div>
        <div><p>Podaj adresy email na które mają zostać wysłane tokeny (oddziel je znakiem , )</p></div>
    </div>

    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("SendTokens", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Mails, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Mails, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Mails, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Days, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Days, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Days, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Wyślij" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-12">
        <div><h2>Generowanie grupy tokenów</h2></div>
        <div><p>Uzupełnij podane pola aby wygenerować tokeny</p></div>
        @using (Html.BeginForm("TokenGroupGenerate", "Home", FormMethod.Post, new { @class = "companyform" }))
        {
            Html.RenderPartial("_TokenGroupGenerate");
        }
    </div>


    <div class="col-md-12">
        <div><h2>Lista tokenów</h2></div>
        <div><p>Wysłane tokeny</p></div>
        <hr />
        <div style="width:100%; margin:0 auto;">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Ważność</th>
                        <th>Excel</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script>


        $(document).ready(function ()
        {

            var table = $("#example").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "paging": false,
                "ordering": false,
                "searching": false,
                "info": false,

                "ajax": {
                    "url": "/Home/LoadTokenGroups",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "processing": "Przetwarzanie...",
                    "search": "Szukaj:",
                    "lengthMenu": "Pokaż _MENU_ pozycji",
                    "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                    "infoEmpty": "Pozycji 0 z 0 dostępnych",
                    "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                    "infoPostFix": "",
                    "loadingRecords": "Wczytywanie...",
                    "zeroRecords": "Nie znaleziono pasujących pozycji",
                    "emptyTable": "Brak danych",
                    "paginate": {
                        "first": "Pierwsza",
                        "previous": "Poprzednia",
                        "next": "Następna",
                        "last": "Ostatnia"
                    },
                    "aria": {
                        "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                        "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                    },
                    "buttons": {
                        "pageLength": {
                            _: "Pokaż %d wierszy",
                            '-1': "Pokaż wszystko"
                        },
                        "selectAll": "Zaznacz wszystko",
                        "selectNone": "Odznacz wszystko"
                    },
                    "select": {
                        rows: "%d zaznaczonych wierszy"
                    }
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                buttons: [
                    'selectAll',
                    'selectNone'
                ],
                "columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true },
                    { "data": "Name", "name": "Nazwa", "autoWidth": true },
                    { "data": "Date", "name": "Ważność", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return "<a class='btn btn-info' href='@Url.Content("~/Home/createExcel/")" + full.Id +"'>Pobierz</a>"; }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a  href='@Url.Content("~/Home/DeleteTokenFromGroup/")" + row.Id +"' class='btn btn-danger' ; >Usuń</a>";
                        }
                    },
                ]
            });
    });
</script>
