﻿@model ProjektGrupowy.ViewModels.ModifyUsersViewModel
@{
    ViewBag.title = "Zarządzaj użytkownikami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    @@import url("@Url.Content("~/Content/DataTables/datatables.min.css")");

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>


<div class="row">
    <h2>Zarządzaj użytkownikami</h2>
    <br />


    <div class="col-md-12">
        <div class="form-sendmsg"  style="display: none">
            <form action="/Home/SendMSG" method="post" onsubmit="return mySubmitGroups1(this)">
                <div class="form-group text-left">
                    <label class="control-label">Temat wiadomośći</label>
                    <div class="col-md-12 text-left">
                        <input name="subject" class="form-control" />
                    </div>
                </div>
                <div class="form-group text-left">
                    <label class="control-label">Treść wiadomości</label>
                    <div class="col-md-12 text-left">
                        <textarea name="message"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Wyślij" class="btn btn-default form-modify-submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="form-addgroup"  style="display: none;">
            <form action="/Home/AddUserToGroup" method="post" onsubmit="return mySubmitGroups(this)">
                <div class="form-group text-left">
                    <label class="control-label">Dodaj do grupy: </label>
                    <div class="col-md-12 text-left">
                        <select name="ADGroups" id="ADGrups" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Wyślij" class="btn btn-default form-modify-submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-modify" style="display: none;">
            @using (Html.BeginForm("ModifyUsers", "Home", FormMethod.Post, new { @class = "form-horizontal form-modify-post", role = "form", onsubmit = "return mySubmit(this)" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(m => m.HomeDirectory, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.HomeDirectory, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HomeDirectory, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.HomeDrive, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.HomeDrive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HomeDrive, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.MsSFU30NisDomain, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.MsSFU30NisDomain, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MsSFU30NisDomain, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.LoginShell, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.LoginShell, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LoginShell, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.GidNumber, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.GidNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.GidNumber, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Unixhomedirectory, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Unixhomedirectory, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Unixhomedirectory, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Wyślij" class="btn btn-default form-modify-submit" />
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="col-md-12" style="overflow-x: auto">
        <table id="example" class="table table-striped table-bordered dt-responsive  table-responsive" width="100%" cellspacing="0">
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Opis</th>
                    <th>Zgody</th>
                    <th>Data wygaśnięcia</th>
                </tr>
            </tfoot>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Opis</th>
                    <th>Zgody</th>
                    <th>Data wygaśnięcia</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>


    $(document).ready(function () {
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Szukaj ' + title + '" />');
        });

        var table = $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "dom": 'Bfrtip',

            select: {
                style: 'multi',
            },

            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Wszystko"]],

            "language": {
                "processing": "Przetwarzanie...",
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ pozycji",
                "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                "infoEmpty": "Pozycji 0 z 0 dostępnych",
                "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                "infoPostFix": "",
                "loadingRecords": "Wczytywanie...",
                "zeroRecords": "Nie znaleziono pasujących pozycji",
                "emptyTable": "Brak danych",
                "paginate": {
                    "first": "Pierwsza",
                    "previous": "Poprzednia",
                    "next": "Następna",
                    "last": "Ostatnia"
                },
                "aria": {
                    "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                },
                "buttons": {
                    "pageLength": {
                        _: "Pokaż %d wierszy",
                        '-1': "Pokaż wszystko"
                    },
                    "selectAll": "Zaznacz wszystko",
                    "selectNone": "Odznacz wszystko"
                },
                "select": {
                    rows: "%d zaznaczonych wierszy"
                }
            },
            "ajax": {
                "url": "/Home/LoadUsersFromAD",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "Login", "name": "Login", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                { "data": "Description", "name": "Opis", "autoWidth": true },
                { "data": "GIODO", "name": "Zgody", "autoWidth": true },
                { "data": "Expire", "name": "Data wygaśnięcia", "autoWidth": true },
            ],
            buttons: [
                'pageLength',
                'selectAll',
                'selectNone',
                {
                    text: 'Usuń',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins['Logins'] = [];

                        data.each(function (value, Id) {
                            console.log('Data in index: ' + Id + ' is: ' + value.Login);
                            tableOfLogins['Logins'].push(value.Login);
                        });

                        $.ajax("/Home/DeleteUsers", {
                            data: JSON.stringify(tableOfLogins),
                            contentType: 'application/json',
                            type: 'POST',
                            success: function (data) {
                                $('#example').DataTable().ajax.reload();
                            }
                        });
                    }
                },
                {
                    text: 'Modyfikuj wspólne',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins = [];

                        data.each(function (value, Id) {
                            tableOfLogins.push(value);
                        });


                        var form = $('.form-modify');

                        if (tableOfLogins.length > 0) {
                            if (!form.hasClass('open'))
                                form.attr('data-value', JSON.stringify(tableOfLogins)).addClass('open').slideDown();
                            else
                                form.removeClass('open').attr('data-value', '').slideUp();
                        } else {
                            form.removeClass('open').attr('data-value', '').slideUp();
                        }
                    }
                },

                {
                    text: 'Dodaj do grupy',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins = [];

                        data.each(function (value, Id) {
                            tableOfLogins.push(value.Login);
                        });

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("GetADGroups","Home")',
                                contentType: 'application/json',
                                success: function (data) {
                                    $.each(data, function (i, value) {
                                        $('#ADGrups').append($('<option>').text(value).attr('value', value));
                                    });
                                }
                            });


                        var form = $('.form-addgroup');

                        if (tableOfLogins.length > 0) {
                            if (!form.hasClass('open'))
                                form.attr('data-value', JSON.stringify(tableOfLogins)).addClass('open').slideDown();
                            else
                                form.removeClass('open').attr('data-value', '').slideUp();
                        } else {
                            form.removeClass('open').attr('data-value', '').slideUp();
                        }
                    }
                },

                 {
                    text: 'Wyślij wiadomość',
                    action: function () {
                        var data = table.rows({ selected: true }).data();
                        var tableOfLogins = {};
                        tableOfLogins = [];

                        data.each(function (value, Id) {
                            if (value.Email != '')
                                tableOfLogins.push(value.Email);
                        });


                        var form = $('.form-sendmsg');
                        console.log(tableOfLogins);

                        if (tableOfLogins.length > 0) {
                            if (!form.hasClass('open'))
                                form.attr('data-value', JSON.stringify(tableOfLogins)).addClass('open').slideDown();
                            else
                                form.removeClass('open').attr('data-value', '').slideUp();
                        } else {
                            form.removeClass('open').attr('data-value', '').slideUp();
                        }
                    }
                }
            ],
        });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>
<script>
    function mySubmit(data) {
        var form = $('.form-modify').attr('data-value');
        form = JSON.parse(form);
        for (var i = 0; i < form.length; i++) {
            $(data).append('<input type="hidden" name="Logins" value="' + form[i].Login + '" >');
            // $(data).append('<input type="hidden" name="email-' + form[i].Id + '" value="' + form[i].Email + '" >');
        }

        return data;
    };

    $('#example').click(function () {
        var form = $('.form-modify, .form-sendmsg, .form-addgroup');
        form.removeClass('open').attr('data-value', '').slideUp();
    })
</script>


<script>
    function mySubmitGroups(data) {
        var form = $('.form-addgroup').attr('data-value');
        form = JSON.parse(form);


        for (var i = 0; i < form.length; i++) {
            $(data).append('<input type="hidden" name="Logins" value="' + form[i] + '" >');
        }

        return data;
    };
    function mySubmitGroups1(data) {
        var form = $('.form-sendmsg').attr('data-value');
        form = JSON.parse(form);


        for (var i = 0; i < form.length; i++) {
            $(data).append('<input type="hidden" name="Emails" value="' + form[i] + '" >');
        }

        return data;
    };


</script>



