﻿@model ProjektGrupowy.ViewModels.ChangeDataViewModel
@{
    ViewBag.Title = "Zmień dane";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryvalidate")
}


<div class="row">
    <h2>Zmień dane</h2>
    <br/>
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("ChangeData", "UserPanel", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @ViewBag.Success
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">

                    @Html.CheckBoxFor(m => m.GIODO, new { @class = "col-md-2" })

                    <div class="col-md-10">
                        @Html.LabelFor(m => m.GIODO, "Wyrażam zgodę na przetwarzanie moich " +
                                                      "danych osobowych zawartych w mojej rejestracji dla potrzeb niezbędnych do KASKLAB " +
                                                         "(ustawa z 29 sierpnia 1997 r.o ochronie danych osobowych, tekst jednolity: Dz.U.z" +
                                                         " 2002 r.nr 101, poz. 926, ze zm.).",
                                                        new { @class = "col-md-12" })
                    </div>
                </div>
                <div class="form-group">

                    @Html.CheckBoxFor(m => m.Newsletter, new { @class = "col-md-2" })

                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Newsletter, "Wyrażam zgodę na otrzymywanie dorgą mailową newslettera", new { @class = "col-md-12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Zapisz" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>