﻿@model ProjektGrupowy.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryvalidate")
}
<h2>Zmień hasło</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("ChangePassword", "UserPanel", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @ViewBag.Success
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Zapisz" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>